<div class="row mt-2" style="height:200px; border: solid black 2px;"> <!-- start of third rows-->
    <div class="col-4"><p><i class="bi bi-alphabet"></i>ADDRESS: <br>andhe gali samshan ghat pe peche aa jana paisa leke <br>gmail: <a href="">ek_ka_double@gmail.com</a></p></div>
    <div class="col-4">contact us 
      <p>dont contact us we are only 2 people no more money to afford more people </p>
      <a href="donate.html">donate here </a>
    </div>
    <div class="col-4"><i class="bi bi-tencent-qq">bootstrap</i><br>
      <i class="bi bi-twitter-x">twitter</i><br>
      <i class="bi bi-whatsapp">whatapp</i>
    </div>

</div>
</div> 
<center>
<h2> Welcome to the world of books </h2>
</center>
</body>
</html>