<div class="row" style="border:solid  blue 2px; height:400px">
        
    <div class="col-3 " style="border:solid  green 5px;"> 
          <h4>filter product by category</h4>
          <a href="/">all</a><br>
          <a href="/searchby/cat">cat</a><br>
          <a href="/searchby/dog">dog</a><br>
        
          <hr>
          <h4>sort by price</h4>
          <a href="/sort/asc"></a>
          <a href="/sort/desc"></a>
          <form action="/pricerange">
            FROM: <input type="text" name="min"><br>
          TO: <input type="text" name="max"><br>
         <input type="submit" name="submit" id="">
          </form>
    </div><!-- column  1 ended second rows -->